/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,200;1,700&display=swap");

:root {
  --prijmary-coller: rgba(255, 250, 236, 1);
  --second-primary-coller: rgba(241, 243, 255, 1);
  --text-1: rgba(73, 73, 73, 1);
  --text-coller-2: rgba(131, 131, 126, 1);
  --coller-text-2: rgba(193, 192, 187, 1);
  --primary-coller-2: rgba(255, 207, 61, 1);
  --d-9d-9d-9: rgba(255, 255, 255, 1);
  --coller-grading-1: rgba(254, 241, 199, 1);
  --variable-collection-primnary-coller: rgba(255,  250,  236,  1);
}

:root {
  --size-header: 2.25rem;
  --size-accordion-title: 1.25rem;
  --size-accordion-content: 1rem;
  --animation-speed: 100;
  --slide-ease: cubic-bezier(0.86, 0, 0.07, 1);
  --slide-duration: calc(400ms * 100 / var(--animation-speed));
  --slide-delay: calc(450ms * 100 / var(--animation-speed));
  --circle-duration: calc(900ms * 100 / var(--animation-speed));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
}

.navigasi {
  display: flex;
  padding: 22px 25px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 5px;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255,  255,  255,  0.3);
}

.navigasi .hamburger-btn {
  display: none;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  bottom: 0.3rem;
  position: relative;
}

.navigasi .logo {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navigasi .logo img {
  width: 40px;
  height: 35px;
}

.navigasi .logo h2 {
  color: #000;
  font-weight: 800;
  font-size: 1.4rem;
  cursor: default;
  position: relative;
  top: 0.7rem;
}

.navigasi .links {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}

.navigasi .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  color: #000;
  cursor: pointer;
}

.navigasi .links a {
  color: #000;
  padding-top: 0.4rem;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.1s ease;
}

.navigasi .links a:hover {
  color: #275360;
}

.navigasi .links a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid #275360;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navigasi .links a:hover::after {
  transform: scaleX(0.5);
}

.navigasi .login-btn {
  border: none;
  outline: none;
  background: rgba(255, 207, 61, 1);
  border: 2px solid black;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s ease;
}

.navigasi .login-btn:hover {
  background: #ddd;
  color: #275360;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  max-width: 720px;
  background: #fff;
  border: 2px solid #fff;
  transform: translate(-50%, -70%);
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #878484;
  cursor: pointer;
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  width: 100%;
  color: #fff;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .form-details {
  padding: 0 40px;
  background: url("https://drive.google.com/uc?export=view&id=1NveZlPElDf26KkyjOX7KBQ-K_LAdc0Jo");
  background-position: center;
  background-size: cover;
}

.signup .form-details {
  padding: 0 20px;
  background: url("https://drive.google.com/uc?export=view&id=1Ng9upyhuS0lG_wWyw-WPFAU--Uo_6xu4");
  background-position: center;
  background-size: cover;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 29px;
}

form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  border: 1px solid #717171;
  border-radius: 3px;
}

.input-field input:focus {
  border: 1px solid rgba(255, 207, 61, 1);
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #4a4646;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid) ~ label {
  transform: translateY(-120%);
  color: black;
  font-size: 0.75rem;
}

.form-box a {
  color: black;
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
  display: inline-flex;
  margin-top: 13px;
  font-size: 0.95rem;
}

form button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: rgba(255, 207, 61, 1);
  transition: 0.2s ease;
}

form button:hover {
  background: rgba(255, 207, 61, 1);
}

.form-content .bottom-link {
  text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}

.signup .policy-text {
  display: flex;
  margin-top: 14px;
  align-items: center;
}

.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.desktop {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  width: 100%;
}

.desktop .image-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.desktop .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: var(--text-1);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text-1);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .section {
  display: flex;
  align-items: end;
   gap: 20px;
   height: 100%;
   padding: 3rem 4rem ;
}

.desktop .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
  position: relative;
  flex: 0 0 50%;
}

.desktop .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
  position: relative;
  flex: 0 0 50%;
}

.desktop .frame-4 {
  display: flex;
  width: 100%;
  height: 161px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.desktop .p {
  position: relative;
  width: 100%;
  height: 161px;
  margin-top: -1px;
  margin-right: -38px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: var(--text-1);
  font-size: 50px;
  letter-spacing: 0;
  line-height: 65px;
  
}

.desktop .text-wrapper-3 {
  position: relative;
  width: 100%;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text-coller-2);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32.4px;
}

.desktop .group {
  position: relative;
  width: 100%;
  height: 52px;
}

.desktop .overlap-group-wrapper {
  display: inline-block;
  margin-top: -55px;
  width: 202px;
  height: 52px;
  top: 0;
  left: 0;
}

.desktop .overlap-group {
  position: relative;
  width: 200px;
  height: 52px;
  background-color: var(--primary-coller-2);
  border-radius: 10px;
  transition: 0.5s ease;
  font-weight: bold;
}

.desktop .overlap-group:hover {
  background-color: #0000004e;
  color:  #275360;
}

.desktop .overlap-group a {
  text-decoration: none;
  color: black;
}


.btn-1 {
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
}

.btn-1:hover {
  color: white;
}

.desktop .overlap-wrapper {
  position: absolute;
  width: 202px;
  height: 52px;
  top: 0;
  left: 224px;
}

.desktop .overlap {
  position: relative;
  width: 200px;
  height: 52px;
  background-color: var(--second-primary-coller);
  border-radius: 10px;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 14px;
  left: 45px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--text-1);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .img {
  position: relative;
  width: 500px;
  height: 350px;
}

.desktop .overlap-2 {
  position: absolute;
  width: 442px;
  height: 69px;
  top: 550px;
  left: 89px;
  background-color: #ffffff;
  border-radius: 10px;
}

.desktop .frame-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 25px;
  position: absolute;
  top: 24px;
  left: 0;
}

.desktop .text-wrapper-6 {
  position: relative;
  width: 138px;
  height: 23px;
  margin-top: -1px;
  opacity: 0.8;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--text-1);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-6 {
  display: flex;
  width: 109px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 21px 48px;
  position: absolute;
  top: 9px;
  left: 325px;
  background-color: var(--d-9d-9d-9);
  border-radius: 10px;
  overflow: hidden;
}

.desktop .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -8px;
  margin-bottom: -6px;
  margin-left: -27px;
  margin-right: -27px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .image-wrapper{
  padding-top: 3rem;
}

.container {
  position: relative;
  width: auto;
  padding: 20px;
  padding-top: 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.container-acordion {
  margin-top: 15rem;
  position: relative;
  justify-content: center;
}

.wreaper {
  font-weight: bold;
  padding-top: 35px;
  position: absolute;
  margin-top: 15px;
  top: 0;
  color: black;
}

.container .card {
  position: relative;
  top: 75px;
  width: 300px;
  height: 420px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
}

.container:hover .card {
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}

.container .card:hover {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
}

.container .card:hover .circle {
  clip-path: circle(600px);
}

.container .card:hover .content p {
  color: white;
}

.container .card:hover .content a {
  color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.4);
}

.container .card .content a:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1),
    inset 5px 5px 5px rgba(0, 0, 0, 0.04),
    inset -5px -5px 5px rgba(255, 255, 255, 0.07),
    inset -1px -1px 2px rgba(255, 255, 255, 0.4);
}

.container .card .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 236, 49);
  text-align: center;
  transition: 1s ease-in-out;
}

.container .card .img-card {
  height: 30%;
  position: relative;
  top: 30px;
}

.container .card .content {
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-align: center;
}

.container .card .content p {
  color: black;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: rgb(236, 236, 49);
  border: 2px solid;
  color: black;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.8s ease-in-out;
}

.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a {
  background: orangered;
}

.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a {
  background: orangered;
}

.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a {
  background: rgb(38, 38, 248);
}

.social-media {
  margin-left: 5%;
  gap: 15px;
}

.footer-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.d-block,
h2 {
  color: #33475c;
  font-weight: 700;
  font-size: 2.5rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

/* content 3*/
#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 350px;
  height: 70vh;
  max-width: 1000px;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
  top: 10rem;
  padding-bottom: -10rem;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

#left-zone {
  height: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#left-zone .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: auto;
  bottom: 10rem;
  padding-bottom: 7rem;
  padding-left: 3rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.item input {
  display: none;
}

label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
  width: auto;
  position: relative;
}

label:hover {
  opacity: 0.75;
  cursor: pointer;
}

.content-test {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  height: 50%;
  width: 100%;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: none;
}

.content-test p {
  max-width: 50%;
  text-align: center;
}

#right-zone {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 50%;
}

input:checked ~ .content-test {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  opacity: 1;
}


.content_testimonial-1 .picto {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-1 h1 {
  color: #d64541;
  text-align: center;
}

.item-img {
  border-radius: 5px;
  margin: 15px;
  width: 100px;
  height: 100px;
}

.content_testimonial-2 .picto {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-2 h1 {
  color: #f5d76e;
}

.content_testimonial-3 .picto {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-3 h1 {
  color: #00b16a;
}

.content_testimonial-4 .picto {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-4 h1 {
  color: #f27935;
}

.content-test h1:first-letter {
  text-transform: uppercase;
}

input:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input:checked ~ label.label_testimonial-1 {
  color: rgba(255, 207, 61, 1);
}

input:checked ~ label.label_testimonial-2 {
  color: rgba(255, 207, 61, 1);
}

input:checked ~ label.label_testimonial-3 {
  color:rgba(255, 207, 61, 1);
}

input:checked ~ label.label_testimonial-4 {
  color: rgba(255, 207, 61, 1);
}

label.label_testimonial-1:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label.label_testimonial-2:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-position: center;
  background-size: 75% 75%;
  border-radius: 50%;
  background-repeat: no-repeat;
}

label.label_testimonial-3:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label.label_testimonial-4:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label:first-letter {
  text-transform: uppercase;
}

.label_testimonial-1:hover {
  font-size: 1rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-2:hover {
  font-size: 1rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-3:hover {
  font-size: 1rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-4:hover {
  font-size: 1rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

p.testimonialState {
  margin-top: -5px;
  font-size: 0.8rem;
  font-style: italic;
  color: #808080d4;
}

p.testimonialFrom {
  margin-top: 5px;
  font-weight: bold;
  color: #33475c;
}


a:link,a:active,a:visited,a:hover{
	color:#3f51b5;
}

.outerdiv
{
	width: 90%;
    height: auto;
    background: #EDF2F8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 5.5rem;
    padding-top: -3rem;
}
.innerdiv
{
	transform: scale(0.9);
	display: grid;
	grid-gap: 1rem;
}

.innerdiv h4{
  font-weight: bold;
  font-size: 20px;
  left: 15rem;
  position: relative;
  text-align: center;
}
.eachdiv
{
	padding: 1rem 2rem;
  padding-top: -5rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    
    color: white;
}
.div1
{
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 3/3;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 3/3;
}

.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 4/4;
    color: black;
}
.div5
{
	background: #18202D;
	grid-column: 2/4;
    grid-row: 4/4;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 10px;
	width: 2.3rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}

.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: bold;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}




@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}

  .innerdiv h4{
    left: 0;
    text-align: center;
  }
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
	}
	.attribution
	{
		position: relative;
	}
}

@keyframes colorChange {
  0% {
    color: #fff;
  }

  50% {
    color: #b1b493;
  }

  80% {
    color: #4f8a8b;
  }

  100% {
    color: #fff;
  }
}

/* media Queris */
@media (max-width: 950px) {
  .navigasi :is(.hamburger-btn, .close-btn) {
    display: block;
  }

  .navigasi {
    padding: 15px 20px;
  }

  .navigasi .logo img {
    display: none;
  }

  .navigasi .logo h2 {
    font-size: 1.4rem;
  }

  .navigasi .links {
    position: fixed;
    top: 0;
    z-index: 10;
    left: -100%;
    display: block;
    height: 100vh;
    width: 100%;
    padding-top: 80px;
    text-align: center;
    background: white;
    transition: 0.2s ease;
  }

  .navigasi .hamburger-btn{
    display: block;
  }

  .navigasi .links.show-menu {
    left: 0;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255,  255,  255,  0.3);
  }

  .navigasi .links a {
    color: black;
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .navigasi .links a:hover {
    color: #275360;
  }

  .navigasi .login-btn {
    font-size: 0.9rem;
    padding: 7px 10px;
  }

  .innerdiv h4{
    text-align: center;}
}

@media (max-width: 760px) {
  .form-popup {
    width: 95%;
  }

  .form-box .form-details {
    display: none;
  }

  .form-box .form-content {
    padding: 30px 20px;
  }

  .desktop .div {
    width: 100%;
  }

  .desktop .img {
    display: none;
  }

  .desktop .section {
    width: auto;
    justify-content: center;
    align-items: center;
    padding-top: 3rem !important;
    padding: 0;
    gap: 0;
  }
  .desktop .frame-2 {
    flex: 0 0 100%;
    width: auto;
    display: flex;
  }
  .desktop .frame-4 {
    text-align: center;
    display: flex;
  }

  .desktop .text-wrapper-3 {
    text-align: center;
  }

  .desktop .frame-3 {
    flex: 0 0 100%;
  }

.desktop .group{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .overlap-group a {
    position: absolute;
    left: 35px;
  }
  .desktop .overlap-group {
    align-items: center;
    display: flex;
  }
  .navigasi .links a::after {
    content: "";
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid #275360;
    transform: scaleX(0);
    transition: 0.3s linear;
  }

  .navigasi .links a:hover::after {
    transform: scaleX(0.2);
  }

  .social-media {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-right: 1rem;
  }

  .acordion {
    padding-left: -10rem;
    position: relative;
  }

  .footer{
    margin-top: 10rem;
  }
}

@media (min-width:990px) {
   .desktop .img{
    width: 100%;
    height: auto;
   }

   .desktop .frame-4 p{
    font-size: 49px !important;
   }
}


@media (min-width: 480px) {
  #flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: auto;
    height: 400px;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #left-zone .list {
    border-right: 2px solid #cccccc;
    padding-top: -5rem;
    font-size: 13px;
  }

  .content-test {
    width: 65%;
    height: 100%;
    pointer-events: auto;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  #left-zone {
    width: 35%;
  }

  #right-zone {
    height: 100%;
    width: 65%;
  }
  .innerdiv h4{
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .content_testimonial-1 .picto {
    padding-top: 100px;
  }
  .content_testimonial-2 .picto {
    padding-top: 100px;
  }
  .content_testimonial-3 .picto {
    padding-top: 100px;
  }
  .content_testimonial-4 .picto {
    padding-top: 100px;
  }
  .item > label {
    font-size: 5rem;
  }

 
}
